*{
margin:0;
padding:0;

}

a:link 
{ 
text-decoration:none; 
}


body{


margin-bottom: 65px;


}


header
{



background-color:  rgb(180,180,180);
text-decoration: none;
display: flex;
flex-direction: column;
padding-bottom: 10px;
}



footer
{

background-color:  rgb(120,120,120);
position: fixed;
bottom:0;
width:100%;
padding-top:5px;
padding-bottom:5px;
height:20px;

}

.logo
{

    margin-left: 5px;
    margin-top: 5px;


}

.menu{

font-size: 2em;
font-family: Arial;
color:black;
margin-left: 0.5em;
margin-right: 0.5em;
align-self: flex-end;
}

#logoNom
{

display: flex;
flex-direction: row;
justify-content: center;

}

.logo{

	width: 85px;
	height: 85px;
	padding-top: 12px;
}

.titre
{

padding-bottom: 10px;
padding-top: 5px;
color:white;
font-size: 100px;
text-align: center;
font-family: Arial;
font-style: bold;

}


.contact
{
	font-size: 1em;
	font-family: Arial;
	color:black;	
	text-align: center;
	font-style: bold;
}