*{
margin:0;
padding:0;
}

a:link 
{ 
text-decoration:none; 
}


header
{
background-color:  rgb(180,180,180);
text-decoration: none;
display: flex;
flex-direction: row;
padding-bottom: 10px;
}

footer
{
background-color:  rgb(120,120,120);

}

.Place_Logo
{

    margin-left: 5px;
    margin-top: 5px;


}

.menu{

align-self: flex-end;

padding-bottom: 10px;
padding-top: 5px;
color:black;
font-size: 1em;



}


.titre
{

align-self: flex-start;
padding-bottom: 10px;
padding-top: 5px;
color:white;
font-size: 4em;
text-align: center;
font-family: Arial;
font-style: bold;
}


.contact
{

	justify-content: center;

}